<!DOCTYPE html>
<html>
<body>
<main class="page cv-page">
  <section class="portfolio-block block-intro border-bottom">
    <div class="container">
      <div class="avatar" style="background-image:url(&quot;assets/img/avatars/headshot_080821.jpg&quot;);"></div>
      <div class="about-me">
        <p>Hello! I am <strong>Ani Venkateshwaran</strong>. I am a rising senior at the University of Wisconsin - Madison. I have passion to make lives better through problem solving with technology.</p><a class="btn btn-outline-primary" role="button" href="#">Contact me</a>
      </div>
    </div>
  </section>
  <section class="portfolio-block cv">
    <div class="container">
      <div class="work-experience group">
        <div class="heading">
          <h2 class="text-center">Work Experience</h2>
        </div>
        <div class="item">
          <div class="row">
            <div class="col-md-6">
              <h3>Software Engineer Intern</h3>
              <h4 class="organization">Capital One</h4>
            </div>
            <div class="col-md-6"><span class="period">06/2021 - 08/2021</span></div>
          </div>
          <ul class="text-muted">
           <li> Designed an ML solution to empower product managers with actionable insights based on real-time user feedback </li>
          </ul>
        </div>
        <div class="item">
          <div class="row">
            <div class="col-6">
              <h3>Software Developer Intern</h3>
              <h4 class="organization">Baird</h4>
            </div>
            <div class="col-md-6"><span class="period">05/2020 - 05/2021</span></div>
          </div>
          <ul class="text-muted">
            <li> Worked on a team of developers aligned with the compliance department of Baird tasked with creating, improving, managing, and
              servicing applications for financial representatives to use to ensure Baird complies with federal compliance laws </li>
          </ul>
        </div>
        <div class="item">
          <div class="row">
            <div class="col-md-6">
              <h3>Network Engineer Intern</h3>
              <h4 class="organization">Northwestern Mutual</h4>
            </div>
            <div class="col-md-6"><span class="period">05/2019 - 05/2020</span></div>
          </div>
          <ul class="text-muted">
            <li> Implemented Python scripts to initialize, update, and monitor new and existing sites for a SDN and a SD-WAN </li>
          </ul>
        </div>
        <div class="item">
          <div class="row">
            <div class="col-md-6">
              <h3>IT & Building Information Management Intern</h3>
              <h4 class="organization">NEXT Electric LLC</h4>
            </div>
            <div class="col-md-6"><span class="period">05/2018 - 01/2019</span></div>
          </div>
          <ul class="text-muted">
            <li> Modeled 3D building layouts using AutoCAD to promote efficient electrical contracting </li>
          </ul>
        </div>
      </div>
      <div class="education group">
        <div class="heading">
          <h2 class="text-center">Education</h2>
        </div>
        <div class="item">
          <div class="row">
            <div class="col-md-6">
              <h3>B.S. Computer Science & B.B.A. Entrepreneurship</h3>
              <h4 class="organization">University of Wisconsin - Madison</h4>
            </div>
            <div class="col-md-6"><span class="period">08/2018 - 05/2022</span></div>
          </div>
<!--          <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eget velit ultricies, feugiat est sed, efficitur nunc, vivamus vel accumsan dui.</p>-->
        </div>
        <div class="item">
          <div class="row">
            <div class="col-md-6">
              <h3>High School</h3>
              <h4 class="organization">Marquette University High School</h4>
            </div>
            <div class="col-6"><span class="period">08/2014 - 05/2018</span></div>
          </div>
<!--          <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eget velit ultricies, feugiat est sed, efficitur nunc, vivamus vel accumsan dui.</p>-->
        </div>
      </div>
      <div class="group">
        <div class="row justify-content-center">
<!--          <div class="col-md-6">-->
<!--            <div class="skills portfolio-info-card">-->
<!--              <h2>Skills</h2>-->
<!--              <h3>HTML</h3>-->
<!--              <div class="progress">-->
<!--                <div class="progress-bar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;"><span class="sr-only">100%</span></div>-->
<!--              </div>-->
<!--              <h3>PHP</h3>-->
<!--              <div class="progress">-->
<!--                <div class="progress-bar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;"><span class="sr-only">90%</span></div>-->
<!--              </div>-->
<!--              <h3>JavaScript</h3>-->
<!--              <div class="progress">-->
<!--                <div class="progress-bar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;"><span class="sr-only">80%</span></div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
          <div class="col-md-6">
            <div class="contact-info portfolio-info-card">
              <h2>Contact Info</h2>
<!--              <div class="row">-->
<!--                <div class="col-1"><i class="icon ion-android-calendar icon"></i></div>-->
<!--                <div class="col-9"><span>10/10/1990</span></div>-->
<!--              </div>-->
              <div class="row">
                <div class="col-1"><i class="icon ion-person icon"></i></div>
                <div class="col-9"><span>Anirudh Venkateshwaran</span></div>
              </div>
              <div class="row">
                <div class="col-1"><i class="icon ion-ios-telephone icon"></i></div>
                <div class="col-9"><span>+4146003424</span></div>
              </div>
              <div class="row">
                <div class="col-1"><i class="icon ion-at icon"></i></div>
                <div class="col-9"><span>avenkateshwa@wisc.edu</span></div>
              </div>
              <div class="row">
                <div class="col-1"><i class="icon ion-at icon"></i></div>
                <div class="col-9"><span>anirudh2000@gmail.com</span></div>
              </div>
            </div>
          </div>
        </div>
      </div>
<!--      <div class="hobbies group">-->
<!--        <div class="heading">-->
<!--          <h2 class="text-center">Hobbies</h2>-->
<!--        </div>-->
<!--        <p class="text-center text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras risus ligula, iaculis ut metus sit amet, luctus pharetra mauris. Aliquam purus felis, pretium vel pretium vitae, dapibus sodales ante. Suspendisse potenti. Duis nunc eros.</p>-->
<!--      </div>-->
    </div>
  </section>
</main>
</body>

</html>
