<!DOCTYPE html>
<html>
<body>
<main class="page projects-page">
  <section class="portfolio-block projects-cards">
    <div class="container">
      <div class="heading">
        <h2>Recent Work</h2>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4">
          <div class="card border-0"><a href="http://music-visualizer-b2ae6.web.app"><img class="card-img-top scale-on-hover" src="assets/img/TheMusicVisualizer.png" alt="Card Image"></a>
            <div class="card-body">
              <h6><a href="#">The Music Visualizer</a></h6>
              <p class="text-muted card-text">An Angular webapp that visualizes Mp3, Spotify, and Microphone input audio into realtime 3D visuals.</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="card border-0"><a href="#"><img class="card-img-top scale-on-hover" src="assets/img/ThisSite.png" alt="Card Image"></a>
            <div class="card-body">
              <h6><a href="#">This Site</a></h6>
              <p class="text-muted card-text">A personal website built on Angular.</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="card border-0"><a href="https://github.com/venkaa28"><img class="card-img-top scale-on-hover" src="assets/img/GitHub-Emblem.png" alt="Card Image"></a>
            <div class="card-body">
              <h6><a href="#">Checkout My Github</a></h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
</body>

</html>
